*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* Global _________________- */


/* https://www.figma.com/file/YMLK4BwcowltWe0ZyLgOyrOp/Hunger---Website-Template?node-id=16%3A48 */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


/* Header ______________________- */
.header {
    width: 100%;
    height: 100vh;

    background: black url('../img/header-bg.png') center 
    no-repeat;
    background-size: cover;

    position: relative;
}

.list-box {
    display: flex;
    justify-content: space-between;

    margin: auto 20px;
    
    color: white;
    text-transform: uppercase;
}


.list-box ul {
    display: inline-block;
}

.list-box ul li {
    list-style-type: none;
    margin: auto 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;

    display: inline-block;

    padding: 25px 35px;
} 

.list-box img {
    margin-top: 25px;
    margin-left: 25px;
}

/* Header title __________________ */

.title-box {
    color: white;
    text-transform: uppercase;

    margin-top: 75px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title-main {
    font-family: 'Krona One', sans-serif;
    font-size: 6em;
    line-height: 0.5;    
}

.title h1::after {
    width: 60px;
    height: 1px;
    border-bottom: 5px solid yellow;    
}

.title-box p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.button-box button {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    margin-top: 30px;

    background-color: inherit;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-box button:hover {
    background: #E8C300;
    transition: background 0.2s linear;
}

.button-box button:last-child {
    margin-left: 40px;
}

.button-down button {
    margin-top: 1.875em;    
    border-radius: 50%;
    width: 40px;
    height: 40px;

    transform: rotate(90deg);
    border:none
}

.social img {
    width: 60px;
    height: 60px;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    
}

.contacts {
    position: absolute;

    top: 17em;
    right: 0;
}

.phone {
    position: absolute;
    transform: rotate(-90deg);
    
    top: 22em;
    left: -7em;
}


.phone p {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;    
}

/* Section  */


section {
    width: 100%;
    height: 41.063em;

    margin: 0 auto;

    font-family: Open Sans;
    font-style: normal;    
    font-size: 16px;
    line-height: 28px;

    display: flex;
    flex-direction: row; 
    
    
}



/* Section ABOUT________________ */

h2 {
    font-family: 'Krona One', sans-serif;
    font-size: 2.250em;
    line-height: 1.2;
    text-transform: uppercase;    
    text-align: center;
    position: relative;

    margin-bottom: 1em;
    
}

.info-box h2:after {
    width: 60px;
    height: 1px;
    border-bottom: 5px solid yellow;  
    content:'';  
    position: absolute;
    bottom: -0.75em;
    right: 45%;
}


.info-box p {
    font-family: 'Open Sans';
    font-style: normal;    
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;    
}


.info-box {
    width: 50%;
    margin: 13.875em 0 13.875em 6em;
}




.img-box {
    width: 50%;
    position: relative;
}


.about-img {
    width: 29.688em;
    height: 29.688em;

    margin: 6.250em 5em 6.250em 7em;
}

.square {
    width: 15.625em;
    height: 15.625em;

    border: 20px solid yellow;
    position: absolute;

    top: 33%;
    right: 5%;
}

.left {
    top: 33%;
    left: 10%;
}

/* Mini Header ___________________________-- */

.mini-header {    
    height: 6.250em;
    width: 100%;    
    text-align: center;  
    
    position: absolute;
    top: 3.125em;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: white;
    letter-spacing: 0.5em;
}



/* Section team */

.team {
    background: black url('../img/specialty\'s-bg.png') center 
    no-repeat;
    background-size: cover;
    position: relative;
}

.text-block {
    width: 50%;

    color: white;
    text-align: center;

    margin: 13.125em 6.313em 13.563em 1.188em;

    position: relative;
}

.text-block p {

    margin-top: 2em;
}

.text-block::after {
    width: 60px;
    height: 1px;
    border-bottom: 5px solid yellow;  
    content:'';  
    position: absolute;
    bottom: 8.5em;
    right: 45%;
}


.img-block {
    width: 50%;

    margin: 6.250em 3.250em 6.250em 12.063em;
}

.img-block img {
    width: 29.688em;
    height: 29.688em;

    
}

/* Section Book table ________________-*/

.book-table {
    position: relative;
}



.book-form {
    width: 100%;    
    height: inherit;    

    margin: 10.125em 4.500em 10.125em 4em;
}

.book input, select {
    width: 14.188em;
    height: 3.750em;

    margin: 5px 5px;
    border-radius: 5px;
    background-color: rgba(229, 229, 229, 1);
    border: none;
       
}

.column {
    display: flex;
    flex-direction: column;
}

.b-box {
    width: 50%;    
}

.book {
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

.submit {
    width: 69%;
    height: 3.750em;
    border-radius: 5px;
    border: none;

    margin-left: 6.5em;   
    background: rgba(232, 195, 0, 1);
   

}

.table::after {
    width: 60px;
    height: 1px;
    border-bottom: 5px solid yellow;  
    content:'';  
    position: absolute;
    bottom: -0.75em;
    right: 45%;
}

.contact-info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;

    color: rgba(51, 51, 51, 0.5);

    position: absolute;
    bottom: 0;
    left: 35%;
}


/* Specialties _______________________________ */

.SPECIALTIES {
     background: black url('../img/specialt-bg.png') center 
    no-repeat;
}

.spec.text-block::after {
    width: 60px;
    height: 1px;
    border-bottom: 5px solid yellow;  
    content:'';  
    position: absolute;
    bottom: 40%;
    right: 45%;
}